/**
 * A modifiable style scheme for for use with the searchableList.js plugin for jQuery
 *
 * @copyright   (c) May 7th 2019, Warwick Weston Wright <warwickwestonwright@live.com>
 * @version     1.0.0
 * @license     BSD
 */
.customSelect {
	height: auto;
	overflow: hidden;
	background: #1B5E20;
	display: block;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
	border-radius: 10px;
}

.customSelect .show {
	display: inline-block;
}

.customSelect .hidden {
	display: none;
}

/*Text control*/
.customSelect .searchBar {
	background: #B71C1C;
	color: #F5F5F5;
	border-radius: 10px;
	display: block;
	box-sizing: border-box;
	font-size: 20px;
	font-weight: bold;
	width: 90%;
	text-align: center;
	margin: 5px auto 0 auto;
}

.customSelect .itemContainer {
	height: 400px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	background: #880E4F;
	color: red;
	overflow-x: hidden;
	overflow-y: scroll;
	box-sizing: border-box;
}

.customSelect .item {
	height: auto;
	width: 80%;
	margin: 5px 0 5px 10%;
	text-align: center;
	box-sizing: border-box;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	background: #004D40;
	color: #F0F4C3;
}